div.sthings2 > div.fonun {
  width: 1304px;
  height: 421px;
  margin-top: 24px;
  border-radius: 15px;
  border: 1px solid rgb(220, 220, 220);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  text-align: center;
  overflow: hidden;
}
div.sthings2 > div.fonun > div.sub-fonun {
  width: 320px;
  height: 419px;
  padding: 8px 22px;
  display: inline-block;
  border: 1px solid rgb(220, 220, 220);
  border-right: 0;
}
div.sthings2 > div.fonun > div.sub-fonun:nth-last-of-type(1) {
  border-left: 0;
}
div.sthings2 > div.fonun > div.sub-fonun > div.sub-fonun-1 {
  width: 285px;
  height: 58px;
  margin-bottom: 8px;
  text-align: right;
}
div.sthings2 > div.fonun > div.sub-fonun > div.sub-fonun-1 > h4 {
  width: 150px;
  height: 34.4px;
  line-height: 34.4px;
  display: block;
  font-family: yekan;
  font-size: 20px;
  font-weight: 500;
  color: rgb(35, 37, 78);
}
div.sthings2 > div.fonun > div.sub-fonun > div.sub-fonun-1 > p {
  display: block;
  font-family: yekan;
  font-size: 14px;
  font-weight: 500;
  color: rgb(118, 119, 144);
}
div.sthings2 > div.fonun > div.sub-fonun > div.sub-fonun-2 {
  width: 285px;
  height: 294px;
  border-radius: 15px;
  padding: 1px;
}
div.sthings2 > div.fonun > div.sub-fonun > div.sub-fonun-2 > a {
  width: 138px;
  height: 147px;
  padding: 8px;
  display: inline-block;
  margin: 0;
}
div.sthings2 > div.fonun > div.sub-fonun > div.sub-fonun-2 > hr {
  color: rgb(239, 239, 239);
}
div.sthings2 > div.fonun > div.sub-fonun > div.sub-fonun-2 > a > figure {
  width: 126px;
  height: 131px;
  display: inline-block;
}
div.sthings2 > div.fonun > div.sub-fonun > div.sub-fonun-2 > a > figure > img {
  width: 126px;
  height: 126px;
  display: inline-block;
  object-fit: contain;
}
div.sthings2 > div.fonun > div.sub-fonun > div.sub-fonun-3 {
  width: 285px;
  height: 26px;
  margin-bottom: 12px;
  margin-top: 4px;
  text-align: center;
}
div.sthings2 > div.fonun > div.sub-fonun > div.sub-fonun-3 > a {
  width: 60px;
  height: 26px;
  display: block;
  text-decoration: none;
  position: relative;
  left: -110px;
  color: rgb(25, 191, 211);
}
div.sthings2 > div.fonun > div.sub-fonun > div.sub-fonun-3 > a > span {
  width: 40px;
  height: 26px;
  line-height: 26px;
  display: inline-block;
  font-family: yekan;
  font-size: 14px;
  font-weight: 500;
}
div.sthings2 > div.fonun > div.sub-fonun > div.sub-fonun-3 > a > div {
  width: 18px;
  height: 18px;
  display: inline-block;
  font-family: yekan;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  line-height: 26px;
  top: 2.2px;
  left: -5px;
}
