div.wrapper > div.sthings2 > div.reading {
  width: 1304px;
  height: 365.5px;
  display: block;
  padding-bottom: 20px;
  margin-top: 24px;
}
div.wrapper > div.sthings2 > div.reading > div.r-1 {
  width: 1304px;
  height: 66.4px;
  display: block;
  padding: 16px 20px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
div.wrapper > div.sthings2 > div.reading > div.r-1 > h2 {
  width: 90px;
  height: 34.4px;
  line-height: 34.4px;
  display: inline-block;
  color: rgb(8, 10, 56);
  font-family: yekan;
  font-size: 22px;
  font-weight: 500px;
}
div.wrapper > div.sthings2 > div.reading > div.r-1 > span {
  width: 200px;
  height: 26px;
  line-height: 26px;
}
div.wrapper > div.sthings2 > div.reading > div.r-1 > span > a {
  width: 200px;
  height: 26px;
  text-decoration: none;
  color: rgb(25, 191, 211);
  cursor: pointer;
  align-items: center;
}
div.wrapper > div.sthings2 > div.reading > div.r-1 > span > a > span {
  width: 170px;
  height: 26px;
  display: inline-block;
  font-family: yekan;
  font-size: 16px;
  font-weight: 500px;
  position: absolute;
  left: 50px;
  top: 25px;
  line-height: 26px;
}
div.wrapper > div.sthings2 > div.reading > div.r-1 > span > a > div {
  width: 18px;
  height: 18px;
  display: inline-block;
  font-family: yekan;
  font-size: 16px;
  font-weight: 700px;
  position: absolute;
  left: 35px;
  top: 25.8px;
  line-height: 26px;
}
div.wrapper > div.sthings2 > div.reading > div.r-2 {
  width: 1304px;
  height: 280px;
  align-items: stretch;
}
div.wrapper > div.sthings2 > div.reading > div.r-2 > a {
  width: 317px;
  height: 280px;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 4px;
  cursor: pointer;
}
div.wrapper > div.sthings2 > div.reading > div.r-2 > a > figure {
  width: 315px;
  height: 202px;
  display: inline-block;
}
div.wrapper > div.sthings2 > div.reading > div.r-2 > a > figure > img {
  width: 315px;
  height: 197px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
div.wrapper > div.sthings2 > div.reading > div.r-2 > a > p {
  width: 315px;
  height: 53px;
  line-height: 26px;
  color: rgb(8, 10, 56);
  font-family: yekan;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 12px;
  text-align: right;
  padding: 0px 16px;
}
