div.sthings {
  width: 100%;
  height: 96px;
  justify-content: space-around;
  margin: 0px auto;
  margin-top: 24px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
}
/* div.sthings > figure {
  width:12%;
  height: 80px;
  text-align: center;
  cursor: pointer;
  display: inline-block;

}
div.sthings > figure > img {
  width: 52px;
  height: 52px;
  text-align: center;
  margin-left: 80px;
  object-fit: contain;
  display: inline-block;
      margin: 0px auto;
} */
*/ div.sthings > a {
  width: 80px;
  height: 79.8625px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  align-items: center;
  cursor: pointer;
}
div.sthings > a > figure:nth-of-type(1) {
  display: inline-block;
  width: inherit;
  height: inherit;
text-align: center;
  position: absolute;
  left: calc(50% - 80px / 2);
}
div.sthings > a > figure:nth-of-type(2) {
  display: inline-block;
  width: inherit;
  height: inherit;
text-align: center;
  position: absolute;
  left: calc(50% - 80px / 2);
}
div.sthings > a > figure:nth-of-type(3) {
  display: inline-block;
  width: inherit;
  height: inherit;
text-align: center;
  position: absolute;
  left: calc(50% - 80px / 2);
}
div.sthings > a > figure:nth-of-type(4) {
  display: inline-block;
  width: inherit;
  height: inherit;
text-align: center;
  position: absolute;
  left: calc(50% - 80px / 2);
}
div.sthings > a > figure:nth-of-type(5) {
  display: inline-block;
  width: inherit;
  height: inherit;
text-align: center;
  position: absolute;
  left: calc(50% - 80px / 2);
}
div.sthings > a > figure:nth-of-type(6) {
  display: inline-block;
  width: inherit;
  height: inherit;
text-align: center;
  position: absolute;
  left: calc(calc(50% - 80px / 2) + 50px);
}
div.sthings > a > figure > img {
  width: 52px;
  height: 52px;
  display: inline-block;
  object-fit: contain;
  position: relative;

}
div.sthings > a > figure > figcaption {
    width: 80px;
    height: 23.8625px;
  font-family: yekan;
  color: black;
  text-decoration: none;
  font-size: 11px;
  font-weight: 700;
  line-height: 23.87px;
  text-align: center;
  margin-top: 4px;
  display: block;
  position: relative;
}
