div.sthings2 {
  width: 1336px;
  height: 5366px;
  /* display: block; */
  margin: 0px 96px;
  padding: 0px 16px;
}
div.sthings2 > div.berenj {
  width: 1304px;
  height: 235.5px;
  margin-top: 24px;
}
div.sthings2 > div.berenj > a {
  width: 314px;
  height: 235.5px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
}
div.sthings2 > div.berenj > a:nth-of-type(1) {
  margin-right: 0px;
}
div.sthings2 > div.berenj > a > figure {
  width: inherit;
  height: inherit;
  /* display: block; */
}
div.sthings2 > div.berenj > a > figure > img {
  width: 314px;
  height: 235.5px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  /* display: block; */
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
